section{
  padding-top: 10px;
  padding-left: 10px;
}
.example-card {
  max-width: 400px;
  color: white;
}

.example-card-footer {
  padding: 16px;
}

.example-button-container {
  position: absolute; /* O fixed si quieres que permanezca en su lugar al hacer scroll */
  right: 40px; 
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px; 
}

.btn-space{
  padding-bottom: 59px;
}