<section class="btn-space">
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab extended (click)="openDialog()"><mat-icon>add</mat-icon>Add</button>
        
      </div>
    </div>
  </div>
</section>

<section class="card-container">

  <mat-card class="example-card" appearance="outlined" *ngFor="let orden of ordenes" (click)="viewOrden(orden.id)">
    <mat-card-header>
      <mat-card-subtitle>Fecha programada</mat-card-subtitle>
    </mat-card-header>

    <mat-card-footer class="example-card-footer">
      <mat-chip-set aria-label="">
        <mat-chip>{{orden.fechaAtencion.toDate()}}</mat-chip>
      </mat-chip-set>
    </mat-card-footer>

    <mat-card-content>
        <mat-chip-set aria-label="">
        <mat-card-subtitle>Descripcion: </mat-card-subtitle>
        <p>{{orden.descripcion}}</p>
      </mat-chip-set>
    </mat-card-content>
    <mat-card-footer class="example-card-footer">


      <mat-chip-set aria-label="">
        <mat-card-subtitle>Creado en: </mat-card-subtitle>
        <mat-chip>{{orden.created.toDate()}}</mat-chip>
      </mat-chip-set>

      <mat-chip-set aria-label="">
        <mat-card-subtitle>Editado en: </mat-card-subtitle>
        <mat-chip>{{orden.edited.toDate()}}</mat-chip>
      </mat-chip-set>
      
    </mat-card-footer>
  </mat-card>
  
</section>
